.App {
  text-align: center;
}

.App-logo1 {
  height: 40vmin;
  pointer-events: all;
}

.App-logo2 {
  height: 40vmin;
  pointer-events: all;
}

.App-logo3 {
  height: 40vmin;
  pointer-events: all;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo3 {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header1 {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #a83af1;
}

.App-header2 {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #dea925;
}

.App-header3 {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link1 {
  color: #dea925;
}

.App-link2 {
  color: #a83af1;
}

.App-link3 {
  color: #868686;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

